body{
    background-color: #c01424;
}
.images-container {
    max-width: 750px;
    position: relative;
    margin: auto; 
    
}

.studen-container{
    max-width: -50px;
    position: relative;
    margin-left: -170px;
    margin-top: -154px;
    color: #fff;
}

/* billed str.

studen-150px
images-850px*/

