body{
    background-color: #294c82;
}
.images-container {
    max-width: 750px;
    position: relative;
    margin: auto; 
}

.studen-container{
    max-width: -50px;
    position: relative;
    margin-left: -170px;
    margin-top: -154px;
    color: #fff;

}
footer{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    padding: 50px;
}
